/* CONTACT ME SECTION STYLES */
.contact-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    height: 100vh;
    padding: 7% 10% 3.8% 10%;
    width: 100%;
    margin-bottom: 4%;
    overflow-x: hidden;
}

.contact-me h1{
  color: var(--c4);
  font-family: "Maven Pro", sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  padding: 10px;
}

.contact-me h1:hover{
  color: var(--c3);
  cursor: pointer;
}

.contact-me p{
  color: var(--c4);
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  text-align: center;
}

.contact-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2% 5% 0 5%;
  width: 100%;
  height: 80%;
  margin-top: 1%;
}

.vertical-line2{
  width: 1px; 
  height: 100%; 
  background-color: var(--c4); 
  margin: 0 auto; 
}

.contacts{
  width: 39%;
  padding: 1% 4% 4% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.contact-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--blurBlack);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 18px 25px;
  width: 85%;
  border-radius: 5px;
  cursor: pointer;
}

.contact-items p{
  padding-left: 10px;
  letter-spacing: .5px;
  font: 14px 'Maven Pro', sans-serif;
  cursor: pointer;
}

.dl-resume{
  background-color: var(--c5);
  padding: 0;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  transition: all 0.3s ease;
}

.dl-resume a{
  width: 100%;
  height: 100%;
  padding: 18px 25px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: none;
  background-color: var(--c5);
  color: var(--c4);
  letter-spacing: 1px;
  text-align: center;
  font: 14px 'Maven Pro', sans-serif;
}

.dl-resume .contact-icons{
  color: var(--c4);
}

.dl-resume:hover{
  transform: scale(0.96);
}

.contact-icons{
  color: var(--c4);
}

.contact-form{
  width: 60%;
  padding: 1% 0 0 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.contact-form input, .contact-form textarea{
  width: 80%;
  border-radius: 5px;
  padding: 18px 25px;
  color: var(--c4);
  border: none;
  outline: none;
  font-size: 14px;
  background-color: var(--blurBlack);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: 1px;
}

.contact-form textarea{
  resize: none;
  line-height: 1.4;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
  color: var(--pholder);
  opacity: 60%;
  letter-spacing: .5px;
}

.contact-form-btn{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-form button{
  border-radius: 5px;
  width: 48%;
  padding: 16px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  color: var(--c4);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.3s ease-in-out;
}

.form-submit{
  background-color: var(--c5);
}

.form-reset{
  background-color: var(--red);
}

.contact-form button:hover{
  background-color: transparent;
}

.form-submit:hover{
  border: 2px solid var(--c3);
  color: var(--c3);
}

.form-reset:hover{
  border: 2px solid var(--red);
  color: var(--red);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--c5);
  padding: 20px 30px;
  border-radius: 8px;
  border: 2px solid var(--c2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  backdrop-filter: blur(15px); 
  -webkit-backdrop-filter: blur(15px);
}

.modal-content {
  text-align: center;
}

.modal p{
  color: var(--c4);
  font: 400 14px 'Maven Pro', sans-serif;
  padding-bottom: 15px;
  
}

.modal button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: var(--c2);
  color: var(--c4);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  opacity: 70%;
}

.modal-content img{
  width: 60px;
  height: 60px;
}

