/* CONTACT ME SECTION STYLES */
.contact-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    height: 100vh;
    padding: 7% 10% 3.8% 10%;
    width: 100%;
    margin-bottom: 4%;
    overflow: hidden;
}

.contact-me h1{
  color: var(--c4);
  font-family: "Maven Pro", sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  padding: 10px;
}

.contact-me h1:hover{
  color: var(--c3);
}

.contact-me p{
  color: var(--c4);
  font-family: "Maven Pro", sans-serif;
  font-size: 16px;
  text-align: center;
  padding: 0 5% 0 5%;
}

.contact-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2% 5% 0 5%;
  width: 100%;
  height: 80%;
  margin-top: 1%;
}

.divider-line{
  width: 1px; 
  height: 100%; 
  background-color: var(--c4); 
  margin: 0 auto; 
}

.contacts{
  width: 39%;
  padding: 2% 4% 4% 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.contact-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--blurBlack);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 18px 25px;
  width: 85%;
  border-radius: 5px;
  cursor: pointer;
  overflow-x: hidden;
}

.contact-items p{
  padding-left: 10px;
  letter-spacing: .5px;
  font: 14px 'Maven Pro', sans-serif;
  cursor: pointer;
}

.dl-resume{
  background-color: var(--blurBlack);
  padding: 0;
  /* box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; */
  transition: all 0.3s ease;
  position: relative;
}

.dl-resume a{
  width: 100%;
  height: 100%;
  padding: 18px 25px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  border: 3px solid var(--c5);
  background-color: var(--c5);
  color: var(--c4);
  letter-spacing: 1px;
  text-align: center;
  font: 14px 'Maven Pro', sans-serif;
  transition: all 0.3s ease;
}

.dl-resume .contact-icons{
  color: var(--c4);
}

.dl-resume:hover{
  transform: scale(1);
}

.dl-resume a::before {
  position: absolute;
  content: "";
  background: var(--c5);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px 0px auto auto;
  width: 50%;
  height: 92%;
  opacity: 1;
  border-radius: 5px;
  border: 2px solid var(--c5);
} 

.dl-resume a:hover::before {
  width: 10px;
  height: 92%;
  opacity: 1;
} 

.dl-resume a:hover {
  color: var(--c4);
  transition: 0.3s;
} 

.dl-resume a::after {
  position: absolute;
  content: "";
  background: var(--c5);
  transition-duration: 0.3s;
  z-index: -1;
  inset: 0px auto auto 0px;
  width: 50%;
  height: 92%;
  opacity: 1;
  border-radius: 5px;
  border: 2px solid var(--c5);
} 

.dl-resume a:hover::after {
  width: 10px;
  height: 92%;
} 

.contact-icons{
  color: var(--c4);
}

.contact-form{
  width: 60%;
  padding: 2% 0 0 4%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}

.contact-form input, .contact-form textarea{
  width: 80%;
  border-radius: 5px;
  padding: 18px 25px;
  color: var(--c4);
  border: none;
  outline: none;
  font-size: 14px;
  background-color: var(--blurBlack);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-family: 'Maven Pro', sans-serif;
  letter-spacing: 1px;
}

.contact-form textarea{
  resize: none;
  line-height: 1.4;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
  color: var(--pholder);
  opacity: 60%;
  letter-spacing: .5px;
}

.contact-form-btn{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-form button{
  border-radius: 5px;
  width: 48%;
  padding: 16px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  color: var(--c4);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  transition: all 0.3s ease-in-out;
}

.form-submit{
  background-color: var(--c5);
}

.form-reset{
  background-color: var(--red);
}

.contact-form button:active {
  transform: scale(0.95); 
  transition: transform 0.1s ease-in-out; 
}

.contact-form button:hover{
  opacity: 85%;
}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(45deg, rgba(0, 51, 48, 0.5), rgba(86, 141, 128, 0.5));
  padding: 20px 30px;
  border-radius: 8px;
  border: 2px solid var(--c2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  backdrop-filter: blur(15px); 
  -webkit-backdrop-filter: blur(15px);
}

.modal-content {
  text-align: center;
}

.modal p{
  color: var(--c4);
  font: 400 14px 'Maven Pro', sans-serif;
  padding-bottom: 15px;
  
}

.modal button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: var(--blurBlack);
  color: var(--c4);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  opacity: 70%;
}

.modal-content img{
  width: 60px;
  height: 60px;
}

@media (max-width: 390px){
  .contact-me h1{
    font-size: 35px;
  }

  .contact-me p{
    font-size: 14px;
  }

  .contact-items p, .contact-form input, .contact-form textarea,
  .dl-resume a, .contact-form button{
    font-size: 12px;
  }
}

@media (max-width: 768px){
  .contact-me{
    padding: 7% 2% 50px 2%;
    height: auto;
  }

  .contact-me h1{
    font-size: 38px;
  }

  .contact-me p{
    font-size: 16px;
  }

  .contact-items p{
    font-size: 14px;
  }

  .contact-container{
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: auto;
    margin-top: 30px;
  }

  .divider-line{
    height: 1px; 
    width: 90%; 
  }

  .contacts, .contact-form{
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .contact-items, .contact-form input, .contact-form textarea{
    width: 90%;
    padding: 15px 20px;
  }

  .dl-resume{
    padding: 0;
  }

  .dl-resume a, .contact-form button{
    padding: 14px;
    font-size: 14px;
  }

  .contact-form-btn{
    width: 90%
  }
}

@media (min-width: 769px) and (max-width: 1280px){
  .contact-me{
    padding: 7% 2% 3.8% 2%;
  }

  .contact-me h1{
    font-size: 38px;
  }

  .divider-line{
    align-self: center;
    height: 90%;
  }

  .contact-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2% 0 0 0;
    width: 100%;
    height: auto;
    margin-top: 1%;
  }

  .contacts{
    padding: 20px 4% 10% 0;
  }

  .contact-form{
    padding: 20px 0 2% 4%;
  }

  .contact-form, .contacts{
    gap: 20px;
  }

  .contact-items, .contact-form input, .contact-form textarea{
    font-size: 16px;
    padding: 20px 25px;
  }

  .dl-resume{
    padding: 0;
  }

  .contact-form button, .dl-resume a{
    padding: 18px;
    font-size: 16px;
  }
}

@media (min-width: 1281px) and (max-width: 1534px){
  .contact-container{
    padding: 2% 0 0 0;
  }
}

@media (min-width: 1537px) and (max-width: 1919px){
  .contact-me h1{
    font-size: 55px;
  }

  .contact-me p{
    font-size: 20px;
  }

  .contact-items p{
    font-size: 16px;
  }

  .contacts{
    padding: 40px 4% 10% 0;
  }

  .contact-form{
    padding: 40px 0 2% 4%;
  }

  .contact-form, .contacts{
    gap: 30px;
  }

  .contact-items, .contact-form input, .contact-form textarea{
    font-size: 16px;
    padding: 25px 25px;
  }

  .dl-resume{
    padding: 0;
  }

  .contact-form button, .dl-resume a{
    padding: 16px;
    font-size: 16px;
  }

  .modal{
    padding: 40px 50px;
  }

  .modal p{
    font-size: 16px;
  }

  .modal button{
    font-size: 14px;
  }

  .modal-content img{
    width: 65px;
    height: 65px;
  }

}

@media (min-width: 1920px){
  .contact-me h1{
    font-size: 60px;
  }

  .contact-me p{
    font-size: 24px;
  }

  .divider-line{
    align-self: center;
    height: 90%;
  }

  .contact-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2% 0 0 0;
    width: 100%;
    height: auto;
    margin-top: 1%;
  }

  .contacts{
    padding: 60px 4% 10% 0;
  }

  
  .contact-items p{
    font-size: 18px;
  }

  .contact-form{
    padding: 60px 0 2% 4%;
  }

  .contact-form, .contacts{
    gap: 30px;
  }

  .contact-items, .contact-form input, .contact-form textarea{
    font-size: 18px;
    padding: 25px 25px;
  }

  .dl-resume{
    padding: 0;
  }

  .contact-form button, .dl-resume a{
    padding: 18px;
    font-size: 18px;
  }

  .modal{
    padding: 40px 50px;
  }

  .modal p{
    font-size: 18px;
  }

  .modal button{
    font-size: 16px;
  }

  .modal-content img{
    width: 70px;
    height: 70px;
  }
}