/* HERO SECTION STYLES */
.hero{
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 4.2%;
  overflow-x: hidden;
}

.hero-content{
  padding: 5% 0 5% 0;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  overflow: hidden;
}

.hero-left{
  width: 60%;
  height: 100%;
  padding:0 10%;
}

.hero-left-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 2%;
  gap: 2%;
}

.hero-left-content h1, .hero-left-content h3{
  font-family: 'Maven Pro', sans-serif;
  color: var(--c4);
  font-size: 55px;
  font-weight: 900;
}

.hero-left-content h3{
  font-size: 40px;
  padding-bottom: 3%;
  position: relative;
}

.hero-left-content h1 span{
  color: var(--c3);
}

h3 span {
  display: inline-block;
  position: relative;
  color: var(--c3);
}

#roles {
  display: inline-block;
  padding-right: 5px;
  animation: blink 2s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.cursor {
  position: absolute;
  right: -5px;
  width: 3px;
  height: 100%;
  background-color: var(--c3);
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.hero-left-content p{
  width: 86%;
  font: 450 18px 'Maven Pro', sans-serif;
  color: var(--c4);
  padding-bottom: 4%;
  line-height: 1.6;
}

.hero-buttons{
  height: 12%;
  width: 100%;
  gap: 6%;
  display: flex;
  flex-direction: row;
}

.hero-buttons button{
  height: 100%;
  width: 28%;
  cursor: pointer;
  font: 18px 'Maven Pro', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  outline: none;
  z-index: 1;
  border-radius: 5px;
  box-shadow: rgba(50, 88, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.GitHubBTN{
  background-color: transparent;
  border: 3px solid var(--c3);
  color: var(--c3);
}

.LinkedInBTN{
  background-color: var(--blurBlack);
  border: 3px solid var(--blurBlack);
  color: var(--c3);
}

.GitHubBTN:after, .LinkedInBTN:after {
  content: '→';
  position: absolute;
  opacity: 0;  
  right: 0;
  transition: 0.5s;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.GitHubBTN:hover:after {
  opacity: 1;
  right: 12%;
}

.LinkedInBTN:hover:after {
  opacity: 1;
  right: 8%;
}

.GitHubBTN:hover{
  padding-right: 28px;
  padding-left:1px;
  transform: scale(0.98);
}

.LinkedInBTN:hover{
  transform: scale(0.98);
  padding-right: 24px;
  padding-left:1px;
  color: var(--c3);
}

.hs-icons{
  font-size: 16px;
}

.custom-shape-divider-hero-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-hero-bottom svg {
  position: relative;
  display: block;
  width: calc(169% + 1.3px);
  height: 100px;
}

.custom-shape-divider-hero-bottom .shape-fill {
  fill: rgba(1, 23, 21, 0.9);
}

.hero-right{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  border-radius: 15rem 0 0 15rem/ 100% 0 0 100%;
  overflow-y: hidden;
}

.slider{
  width: 95%;
  align-self: flex-end;
  border-radius: 5rem 0 0 5rem/ 100% 0 0 100%;
  position: relative;
  display: grid;
  place-items: center;
  overflow-y: hidden;
  overflow-x: hidden; 
}

.hero-right h2{
  position: absolute; 
  top: 15%; 
  left: 27%;
  transform: translateX(-50%); 
  color: var(--c1);
  font-size: 20px;
  text-align: center;
  z-index: 3; 
}

.slide-track{
  display: flex;
  width: calc(400px * 8);
  animation: scroll 15s linear infinite;
}

.slide-track:hover{
  animation-play-state: paused;
}

@keyframes scroll{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-400px * 4));
  }
}

.slide{
  height: 260px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  perspective: 100px;
}

.slide img{
  width: 100%;
  cursor: pointer;
  transition: transform 1s;
  z-index: 2;
  box-shadow: rgba(9, 144, 105, 0.15) 1.95px 1.95px 2.6px;}

.slide img:hover{
  transform: translateZ(10px);
  z-index: 3;
}

.slider::before,
.slider::after{
  background: linear-gradient(to right, rgba(41, 41, 41, 0.5) 0%, rgba(255,255,255,0) 80%);
  content: '';
  height: 100%;
  position: absolute;
  width: 8%;
  z-index: 2;
}

.slider::before{
  left: 0;
  top: 0;
}

.slider::after{
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}


/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {
  .custom-shape-divider-hero-bottom svg {
      width: calc(105% + 1.3px);
      height: 153px;
  }
}


@media (max-width: 454px){

  .hero-right{
    display: none;
  }

  .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-left{
    width: 80%;
    padding: 0;
  }

  .hero-left-content{
    padding: 0;
  }

  .hero-left-content h1, .hero-left-content h3{
    font-family: 'Maven Pro', sans-serif;
    color: var(--c4);
    font-size: 32px;
    font-weight: 900;
  }

  .hero-left-content h3{
    font-size: 22px;
  }

  .hero-left-content p{
    font-size: 14px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hero-buttons{
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .hero-buttons button{
    width: 40%;
    font-size: 14px;
    font-weight: 500;
  }

  .hs-icons{
    font-size: 12px;
  }

  .GitHubBTN:after, .LinkedInBTN:after{
    font-size: 18px;
  }

}


@media (min-width: 454px) and (max-width: 602px){
  .hero{
    height: auto;
  }
  
  .hero-right{
    display: none;
  }

  .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-left{
    width: 80%;
    padding: 0;
  }

  .hero-left-content{
    padding: 0;
  }

  .hero-left-content h1, .hero-left-content h3{
    font-family: 'Maven Pro', sans-serif;
    color: var(--c4);
    font-size: 32px;
    font-weight: 900;
  }

  .hero-left-content h3{
    font-size: 26px;
  }

  .hero-left-content p{
    font-size: 16px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hero-buttons{
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .hero-buttons button{
    width: 40%;
    font-size: 16px;
    font-weight: 500;
  }

  .hs-icons{
    font-size: 14px;
  }
}

@media (min-width: 602px) and (max-width: 769px){
  .hero-right{
    display: none;
  }

  .hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-left{
    width: 80%;
    padding: 0;
  }

  .hero-left-content{
    padding: 0;
  }

  .hero-left-content h1, .hero-left-content h3{
    color: var(--c4);
    font-size: 40px;
  }

  .hero-left-content h3{
    font-size: 32px;
  }

  .hero-left-content p{
    font-size: 18px;
    width: 96%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hero-buttons{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .hero-buttons button{
    width: 40%;
    font-size: 18px;
    font-weight: 500;
  }

  .hs-icons{
    font-size: 14px;
  }

  .GitHubBTN:hover:after {
    right: 18%;
  }
  
  .LinkedInBTN:hover:after {
    right: 14%;
  }

  .GitHubBTN:hover{
    padding-right: 35px;
  }
  
  .LinkedInBTN:hover{
    padding-right: 30px;
  }
}

@media (min-width: 769px) and (max-width: 856px){
  .hero-left{
    width: 50%;
    padding: 0;
    padding-left: 5%;
  }

  .hero-right{
    width: 50%;
  }

  .hero-left-content{
    padding: 0;
  }

  .hero-left-content h1, .hero-left-content h3{
    color: var(--c4);
    font-size: 32px;
  }

  .hero-left-content h3{
    font-size: 25px;
  }

  .hero-left-content p{
    font-size: 16px;
    width: 96%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hero-buttons{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .hero-buttons button{
    width: 40%;
    font-size: 16px;
    font-weight: 500;
  }

  .hs-icons{
    font-size: 14px;
  }

  .GitHubBTN:hover:after {
    right: 14%;
  }
  
  .LinkedInBTN:hover:after {
    right: 10%;
  }

  .GitHubBTN:hover{
    padding-right: 35px;
  }
  
  .LinkedInBTN:hover{
    padding-right: 30px;
  }
}

@media (min-width: 856px) and (max-width: 1025px){
  .hero-left{
    width: 50%;
    padding: 0;
    padding-left: 5%;
  }

  .hero-right{
    width: 50%;
  }

  .hero-left-content{
    padding: 0;
  }

  .hero-left-content h1, .hero-left-content h3{
    color: var(--c4);
    font-size: 36px;
  }

  .hero-left-content h3{
    font-size: 28px;
  }

  .hero-left-content p{
    font-size: 16px;
    width: 96%;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .hero-buttons{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }

  .hero-buttons button{
    width: 40%;
    font-size: 16px;
    font-weight: 500;
  }

  .hs-icons{
    font-size: 14px;
  }

  .GitHubBTN:hover:after {
    right: 18%;
  }
  
  .LinkedInBTN:hover:after {
    right: 14%;
  }

  .GitHubBTN:hover{
    padding-right: 35px;
  }
  
  .LinkedInBTN:hover{
    padding-right: 30px;
  }
}

@media (min-width: 1025px) and (max-width: 1281px){
  .hero-left{
    padding: 0;
    padding-left: 8%;
  }
  
  .hero-left-content h1, .hero-left-content h3{
    color: var(--c4);
    font-size: 40px;
  }

  .hero-left-content h3{
    font-size: 35px;
  }

  .hero-left-content p{
    font-size: 16px;
  }

  .hero-buttons button{
    width: 35%;
    font-size: 16px;
    font-weight: 500;
  }

  .hs-icons{
    font-size: 14px;
  }

  .GitHubBTN:hover:after {
    right: 20%;
  }
  
  .LinkedInBTN:hover:after {
    right: 16%;
  }

  .GitHubBTN:hover{
    padding-right: 35px;
  }
  
  .LinkedInBTN:hover{
    padding-right: 30px;
  }
}


@media (min-width: 1281px) and (max-width: 1535px){

  .hero-left-content h1, .hero-left-content h3{
    color: var(--c4);
    font-size: 40px;
  }

  .hero-left-content h3{
    font-size: 35px;
  }

  .hero-left-content p{
    font-size: 16px;
  }

  .hero-buttons button{
    width: 35%;
    font-size: 16px;
    font-weight: 500;
  }

  .hs-icons{
    font-size: 14px;
  }

  .GitHubBTN:hover:after {
    right: 20%;
  }
  
  .LinkedInBTN:hover:after {
    right: 16%;
  }

  .GitHubBTN:hover{
    padding-right: 35px;
  }
  
  .LinkedInBTN:hover{
    padding-right: 30px;
  }
}