@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Maven+Pro:wght@400..900&display=swap');

.navbar{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5% 12px 5%;
    position: fixed;
    z-index: 1000;
    transition: all 0.5s ease-out;
}

.navbar.scrolled {
    background-color: var(--blurBlack);
    backdrop-filter: blur(50px); 
    -webkit-backdrop-filter: blur(50px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar img{
    width: 170px;
    object-fit: contain;
    cursor: pointer;
}

.nav-links ul{ 
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.nav-links ul li{
    list-style: none;
    margin: 0 20px;
}

.nav-links ul li a {
    text-decoration: none;
    color: var(--c4);
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 600;
    position: relative;
    transition: all 0.3s ease; 
}

.nav-links ul li a::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0%;
    height: 2px; 
    background-color: var(--c3); 
    transition: all 0.3s ease; 
    transform: translateX(-50%); 
}

.nav-links ul li a:hover::before,
.nav-links ul li a.active::before {
    width: 100%; 
    left: 50%; 
    color: var(--c3);
}

.nav-links ul li a:hover, .nav-links ul li a.active{
    color: var(--c3);
}

.hbtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 7px 15px;
    width: 115px;
    text-align: center;
    border: 2px solid var(--c3);
    text-decoration: none;
    color: var(--c1);
    white-space: nowrap;
    z-index: 0;
    border-radius: 5px;
    font: 600 15px 'Maven pro', sans-serif;
    margin-left: 25px;
} 

.resumeBTN::before {
    position: absolute;
    content: "";
    background: var(--c3);
    transition-duration: 0.3s;
    z-index: -1;
    inset: 0px 0px auto auto;
    width: 50%;
    height: 100%;
    opacity: 1;
    border: 2px solid var(--c3);
} 

.resumeBTN:hover::before {
    width: 0px;
    height: 100%;
    opacity: 1;
} 


.resumeBTN {
    background: var(--c3);
    color: var(--c1);
    transition: 0.3s;
} 


.resumeBTN:hover {
    background: transparent;
    color: var(--c3);
    transition: 0.3s;
} 


.resumeBTN::after {
    position: absolute;
    content: "";
    background: var(--c3);
    transition-duration: 0.3s;
    z-index: -1;
    inset: 0px auto auto 0px;
    width: 50%;
    height: 100%;
    opacity: 1;
    border: 2px solid var(--c3);
} 

.resumeBTN:hover::after {
    width: 0px;
} 
