@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Maven+Pro:wght@400..900&display=swap');

:root{
  --c1:#000000;
  --c2: #023330;
  --c3: #379777;
  --c4: #eaf8e7;
  
  --bg1: #113736;
  --bg2: #04080b;
  --pholder: #e2f6dd;
  --red: rgb(187, 66, 66);
  --yellow: #f8c000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(90deg, var(--bg1), var(--bg2));
}

h1, h2, h3, h4, p{
  cursor: default;
}


/* HERO SECTION STYLES */
.hero{
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 4.2%;
}

.hero-content{
  padding: 5% 0 5% 0;  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-left{
  width: 8%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--c1);
  border-radius: 0 10rem 10rem 0 / 0 100% 100% 0;
  opacity: 68%;
}

.hero .hero-middle{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3%;
  padding-left: 2%;
  gap: 2%;
}

.hero-middle h1, .hero-middle h3{
  font-family: 'Maven Pro', sans-serif;
  color: var(--c4);
  font-size: 55px;
  font-weight: 900;
}

.hero-middle h3{
  font-size: 40px;
  padding-bottom: 3%;
  position: relative;
}

.hero-middle span{
  color: var(--c3);
  /* text-shadow: 1px 2px 10px var(--c1); */

}

#roles {
  display: inline-block;
  padding-right: 5px;
  animation: blink 2s step-end infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

h3 span {
  display: inline-block;
  position: relative;
}

.cursor {
  position: absolute;
  right: -5px;
  width: 3px;
  height: 100%;
  background-color: var(--c3);
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    background-color: transparent;
  }
}

.hero-middle p{
  width: 85%;
  font-family: 'Manrope', sans-serif;
  color: var(--c4);
  font-size: 18px;
  padding-bottom: 4%;
  line-height: 1.8;
  font-weight: 500;
}

.hero-buttons{
  height: 12%;
}

.hero-buttons button{
  height: 100%;
  width: 30%;
  cursor: pointer;
  border-radius: 15px;
  font: 18px 'Maven Pro', sans-serif;
  font-weight: 800;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}


.LinkedInBTN{
  background-color: var(--c1);
  margin-right: 6%;
  border: none;
  color: var(--c4);
}

.GitHubBTN{
  background-color: var(--c3);
  border: none;
  /* border: 2px solid var(--c1); */
  color: var(--c1);
}

.LinkedInBTN:hover{
  background-color: var(--c3);
  border: 2px solid var(--c1);
  color: var(--c1);
  transform: scale(0.98);
}

.GitHubBTN:hover{
  background-color: var(--c3);
  border: 2px solid var(--c2);
  color: var(--c2);
  transform: scale(0.98);
}

.hero-right{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #023330;
  border-radius: 15rem 0 0 15rem/ 100% 0 0 100%;
}

.hero-right h1{
  background-color: var(--c1);
}

/* SKILLS SECTION STYLES */
.skills{
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 5% 5%;
}

.skills-left{
  width: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.skills-left h1{
  writing-mode: vertical-lr;
  text-orientation:upright;
  color: var(--c4);
  font: 800 40px 'Maven Pro', sans-serif;
  letter-spacing: 30px;
}


.vertical-line {
  width: 2px;
  height: 100%; 
  background-color: var(--c4);
}

.skills-right{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills-right h1{
  color: var(--c4);
  padding-bottom: 10%;
}

.languages, .frameworks, .others{
  width: 30%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.languages-list ul,
.frameworks-list ul,
.others-list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.languages-list li,
.frameworks-list li,
.others-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1rem;
    height: 45%;
    border: 2px solid var(--c4);
    background-color: var(--c2);
    cursor: pointer;
}

.languages-list img,
.frameworks-list img,
.others-list img {
    width: 50%;
    height: 50px;
    object-fit: contain;
}

.languages-list span,
.frameworks-list span,
.others-list span {
    color: var(--c4);
}

.languages-list li:nth-child(1),
.languages-list li:nth-child(2),
.frameworks-list li:nth-child(1),
.frameworks-list li:nth-child(2),
.others-list li:nth-child(1),
.others-list li:nth-child(2) {
    width: 40%;
}

.languages-list li:nth-child(3),
.languages-list li:nth-child(4),
.languages-list li:nth-child(5),
.others-list li:nth-child(3),
.others-list li:nth-child(4),
.others-list li:nth-child(5){
    width: 29%;
}

.frameworks-list li:nth-child(3),
.others-list li:nth-child(6){
  width: 60%;
}

.languages-list li:nth-child(6),
.languages-list li:nth-child(7),
.frameworks-list li:nth-child(4),
.frameworks-list li:nth-child(5){
    width: 40%;
}

.languages-list li:nth-child(6) img,
.languages-list li:nth-child(7) img,
.frameworks-list li:nth-child(3) img,
.others-list li:nth-child(6) img{
    width: 70%;
    height: 50px;
    object-fit: contain;
}


/* PROJECTS SECTION STYLES */
.projects{
  min-height: 100vh;
  height: auto;
}






/* CONTACT ME SECTION STYLES */
.contact-me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
    height: 100vh;
    padding: 5% 10%;
    width: 100%;
}

.contact-me h1{
  color: var(--c4);
  font-family: "Maven Pro", sans-serif;
  font-size: 50px;
  letter-spacing: 1px;
  padding: 10px;
}

.contact-me p{
  color: var(--c4);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  text-align: center;
}

.contact-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2% 5% 0 5%;
  width: 100%;
  height: 80%;
  margin-top: 1%;
}

.vertical-line2{
  width: 1px; 
  height: 100%; 
  background-color: var(--c4); 
  margin: 0 auto; 
}

.contacts{
  width: 39%;
  padding: 1% 4% 4% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.contact-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--c2);
  padding: 18px 25px;
  width: 85%;
  border-radius: 5px;
}

.contact-items p{
  padding-left: 10px;
  font-size: 14px;
  letter-spacing: .5px;
}

.dl-resume{
  background-color: var(--c3);
  padding: 0;
  transition: all 0.3s ease;
}

.dl-resume button{
  width: 100%;
  height: 100%;
  padding: 18px 25px;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  border: none;
  background-color: var(--c3);
  color: var(--c1);
  letter-spacing: 1px;
}

.dl-resume .contact-icons{
  color: var(--c1);
}

.dl-resume:hover{
  transform: scale(0.96);
}

.contact-icons{
  color: var(--c4);
}

.contact-form{
  width: 60%;
  padding: 1% 0 0 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.contact-form input, .contact-form textarea{
  width: 80%;
  border-radius: 5px;
  padding: 18px 25px;
  color: var(--c4);
  border: none;
  outline: none;
  font-size: 14px;
  background-color: var(--c2);
  font-family: 'Manrope', sans-serif;
  letter-spacing: 1px;
}

.contact-form textarea{
  resize: none;
  line-height: 1.4;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
  color: var(--pholder);
  opacity: 60%;
  letter-spacing: .5px;
}

.contact-form-btn{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-form button{
  border-radius: 5px;
  width: 48%;
  padding: 16px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  color: var(--c4);
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
  transition: all 0.3s ease-in-out;
}

.form-submit{
  background-color: var(--c3);
}

.form-reset{
  background-color: var(--red);
}

.contact-form button:hover{
  background-color: transparent;
}

.form-submit:hover{
  border: 2px solid var(--c3);
  color: var(--c3);
}

.form-reset:hover{
  border: 2px solid var(--red);
  color: var(--red);
}