@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Maven+Pro:wght@400..900&display=swap');

:root{
  --c1:#000000;
  --c2: #023330;
  --c3: #045f59;
  --c4: #eaf8e7;
  --c6: #e6e6e6;
  --c5: #034945;

  --blurBlack:rgba(1, 23, 21, 0.9);

  --before: #379777;
  
  --bg1: #113736;
  --bg2: #04080b;
  --pholder: #e2f6dd;
  --red: rgb(187, 66, 66);
  --yellow: #f8c000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background: linear-gradient(90deg, var(--bg1), var(--bg2));
}

html{
  scroll-behavior: smooth;
}

h1, h2, h3, h4, p{
  cursor: default;
}